@import '../../../global';

._base {
  outline: none;
  padding: 25px 40px;
  color: $primary-text;
  &:hover {
    color: $primary-text;
    background-color: lighten($primary, 20%);
  }
}

._item-h {
  width: 170px;
  > li {
    text-align: center;
  }
}

._item-v {
  width: 100%;
}

._active-h {
  background-color: $bg-color !important;
}

._active-v {
  background-color: darken($primary, 6%);
  font-size: 1.2em;
  font-weight: bold;
}
