@import "../../global";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.item {
  color: $primary-text;
  width: 100%;
  text-align: center;
  margin: 5px;
}
