<div
  class="h-100 d-flex flex-column justify-content-center"
  *ngIf="['init', 'initError', 'noPosts'].includes(status); else initialised"
  [ngSwitch]="status"
>
  <app-progress-bar *ngSwitchCase="'init'" [status]="'loading'"></app-progress-bar>
  <app-progress-bar *ngSwitchCase="'initError'" [status]="'error'"></app-progress-bar>
  <app-progress-bar *ngSwitchCase="'noPosts'" [status]="'noPosts'"></app-progress-bar>
  <app-progress-bar *ngSwitchDefault [status]="'error'"></app-progress-bar>
</div>

<ng-template #initialised>
  <div class="_posts-container">
    <app-post-summary *ngFor="let post of posts" class="_posts-item" [post]="post">
    </app-post-summary>
  </div>
</ng-template>
