<div class="card">
  <div class="header">
    <h2 class="title">
      Title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </h2>
    <img
      class="image"
      src="https://fakeql.com/placeholder/500/200/e7d621158ec24ef6dsf3sf43459.svg"
    />
  </div>
  <div class="body">
    <h3 class="subtitle">
      Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </h3>
    <p class="body-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    </p>
    <div class="author">
      <span>by Foobar</span>
    </div>
  </div>
</div>
